.hero {
    background-image: url("https://i.imgur.com/HvBMkoz.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
#nav-section {
    padding-right: 20%;
    padding-top: 1%;
}
#navbar-word {
    font-weight: bold;
    font-size: 30px;
    text-shadow: 1px 1px black;
}
.section-title {
    color: black;
    font-size: 30px;
    padding-top: 5%;
    text-align: left;
    padding-right: 25%;
}

#navbar-word:hover {
    color: skyblue;
}
.hero-name, .hero-subtitle {
    color: white;
}
.hero-name {
    font: 55px;
}
/* .title {
    color: white;
} */
/* #portfolio {
    display: inline-block;
    background-color: whitesmoke;
} */
/* #portfolio-title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    background-color: #23282D;
    margin-left: auto;
    margin-right: auto;
} */
#about-me {
    /* height: 700px; */
    display: inline-block;
    background: #ffffff66;
    width: 100%;
    padding-bottom: 50px;
   
}
#learnMore {
    margin-top: 5%;
}
/* .text-box {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
} */
#portfolio-title,
#experience-title {
    color: white;
}
#portfolio-content,
#experience-content {
    color: white;
    font-size: 2vh;
    padding-right: 10%;
}
#portfolio,
#experience {
    height: 30%;
    background-color: #23282D;
    /* border-bottom: 4px solid white;
    border-top: 4px solid white; */
    padding-top: 30px;
    padding-left: 10%;
    padding-bottom: 10%;

}   
#content {
    color: black;
    padding-bottom: 50px;
}

#about-me-box {
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(255,255,255,0);
    height: 100%;
}
body, html {
    height: 100%;
}
.parallax {
    background-image: url("https://i.imgur.com/xCEXoBx.jpg");
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax2{
    background-image: url("https://i.imgur.com/HvBMkoz.jpg");
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
#hero-location {
    margin-top: -1.25rem;
}
#projects {
    text-align: center;
}
.project {
    padding-left: 5%;
    padding-right: 5%;
}
.tile-box {
    display: flex;
    justify-content: space-between;
}
#leagueBtn,
#jeopardyBtn,
#myBtn {
    display: flex;
    justify-content: space-between;
   
    z-index: 1;
}
#rest-title,
#league-title,
#parks-title,
#jeopardy-title {
    display: flex;
    justify-content: space-between;
}
#about-me-text {
    padding-top: 5%;
    font-size: 2vh;
}
#parks-list-subtitle {
    margin-bottom: 5px;
}
#showcase-site {
    display: flex;
    justify-content: center;
}
#additional-sites {
    padding-left: 10%;
    padding-right: 10%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
/* #footer-div {
    height: 150px; 
}
.icon {
    50px;
} */
/* Modal Info */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: (0,0,0,0.4);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
 padding: 2px 16px;
 background-color: #4e5964;
 color: white;
}
.modal-subheader {
    font-size: 25px;
}
.modal-header-text {
    padding-top: 25px;
    font-size: 40px;
}
.modal-subheader {
    padding-left: 15px;
}
.technology-item,
.modal-summary {
    padding-left: 25px;
}


/* Media Queries */
@media only screen and (max-width: 812px) {
    /* #parallax2,
    .hero {
        background-image: url("https://i.imgur.com/DtuG0zk.jpg");
        background-attachment: scroll;
        overflow: hidden;
    }
    .hero-body {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    } */
    #parallax2,
    .hero {
        background-image: url("https://i.imgur.com/rXIJpXi.jpg?2");
        height: 100%;
        background-size: cover;
        /* background-position: center; */
        /* background-attachment: fixed; */

    }
    #about-me-text {
        font-size: 15px;
    }
    #about-me {
        height: 100%;
    }
    #portfolio,
    #experience {
        height: 50%;
    }
    .container {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        perspective: 1px;
        perspective-origin: 0 0;
      }
      
      .parallax-child {
        transform-origin: 0 0;
        transform: translateZ(-2px) scale(3);
      }
      .parallax-container {
        transform-style: preserve-3d;
      }
}
/* Desktop */
@media only screen and (min-width: 1280px) {
    .section-title {
        font-size: 45px;
    }
}
/* Mobile Landscape */
@media only screen and (max-height: 500px) {
    #portfolio-content,
    #experience-content  {
        font-size: 15px;
    }
    #portfolio-title,
    #experience-title {
        font-size: 25px;
    }
    #portfolio,
    #experience {
        height: 50%;
    }
    #jeopardy-title,
    #league-title,
    #rest-title {
        font-size: 20px;
    }
    

}